@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@layer base {

  :root {
    --background: 161 0% 100%;
    --foreground: 161 0% 10%;
    --card: 161 0% 100%;
    --card-foreground: 161 0% 15%;
    --popover: 161 0% 100%;
    --popover-foreground: 161 95% 10%;
    --primary: 118 25% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 161 54.3% 20.6%;
    --radius: 0.5rem;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;
  }

  .dark {
    --background: 161 10% 10%;
    --foreground: 161 0% 100%;
    --card: 161 0% 10%;
    --card-foreground: 161 0% 100%;
    --popover: 161 10% 5%;
    --popover-foreground: 161 0% 100%;
    --primary: 161 54.3% 20.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 161 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 123 10% 25%;
    --muted-foreground: 161 0% 65%;
    --accent: 123 10% 25%;
    --accent-foreground: 161 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 161 0% 100%;
    --border: 161 20% 50%;
    --input: 161 20% 50%;
    --ring: 161 54.3% 20.6%;
    --radius: 0.5rem;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;
  }

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}